.bg-custom {
  background-image: linear-gradient(15deg, #ff3d00 0%, #da866c 100%);
}

th{
  color: white;
}

tfoot {
  display: table-footer-group;
  vertical-align: middle;
  border-color: inherit;
  text-align: center;
  color: white;
}